
span.bulle {
	position:relative;
	z-index:24;
	cursor: pointer;
	}
span.bulle:hover {
	z-index:25;
	}
span.bulle span {
	display: none;
	}
span.bulle:hover span {
	display:block;
    text-align:left;
	position:absolute;
	left:-200px;
	width:auto;
	border:3px ridge #fc0;
	color: black;
	padding: 10px;
	background-color: ivory; opacity:1;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 8px 8px 16px black;
	-moz-box-shadow: 8px 8px 16px black;
	-webkit-box-shadow: 8px 8px 16px black;
	}
